* {
  padding: 0;
  margin: 0;

  font-family: Tahoma, sans-serif;
}
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

#map {
  /* position: absolute; */
  /* top: 0;
  bottom: 0; */
  width: 100%;
  height: 80%;
  /* z-index: -1; */
}

.map-switcher {
  margin-left: 25px;
  margin-top: 10px;
}
.map-switcher p {
  color: white;
}
.map-item {
  color: white;
}
.search {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  margin-left: 10%;

  width: 30%;
  position: relative;
}
#placeOption {
  position: absolute;
  z-index: 1;
  height: 200px;
  list-style: none;
  background-color: #f5f3f37a;
  overflow-y: auto;
  margin-top: 50px;
  margin-left: 22%;
}
#placeOption li {
  padding-top: 7px;
  cursor: pointer;
}
#placeOption li:hover {
  background-color: #68c2ef5a;
}

.input-container {
  display: flex;
  padding-top: 20px;
}
.legend {
  display: flex;
  float: right;
  background-color: rgba(248, 252, 252, 0.075);
  flex-direction: column;
  height: 110px;
  justify-content: space-evenly;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  color: white;

  margin-bottom: 10px;
  margin-right: 20px;
  margin-top: 15px;
}
.legend h2 {
  font-size: 25px;
  margin-left: 11px;
}
.label {
  font-size: 18px;
}

.item {
  display: flex;
  align-items: center;

  padding-left: 10px;
}

.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.red {
  background-color: #ff4136;
}

.yellow {
  background-color: #002fff;
}

.green {
  background-color: #2ecc40;
}

.label {
  font-size: 16px;
  font-weight: bold;
}
/* ///////////// pop up  */
.ol-popup {
  position: absolute;

  background-color: rgb(255, 255, 255, 0.95);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 265px;
}

.ol-popup-closer {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.ol-popup-closer:hover {
  color: #af1e2d;
}
.header {
  background-color: #8db8e033;
  display: flex;
  justify-content: space-between;
  height: 140px;
}
.header::before {
  background-size: cover; /* Make the image cover the entire header */
  /* background-position: center; Center the image within the header */
  content: "";
  background-position: 0 0;
  background-image: url(img/6.jpg);
  opacity: 0.8;
  position: absolute;
  top: -150px;
  left: 0px;
  right: 0px;
  bottom: 40%;
  z-index: -1;
}
.header .map-switcher p {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 30px;
}
.header .search {
  margin-top: 15px;
  margin-right: 100px;
  align-items: center;
}
.header .search #geocode {
  font-weight: 700;
  width: 250px;
  height: 10px;
  border-radius: 20px;
  padding: 9px 13px;
  font-size: 15px;
  text-transform: capitalize;
}
